.column-width27 {
    width: 27px;
}
.column-width39 {
    width: 39px;
}
.column-width768 {
    width: 768px;
}
.column-width34 {
    width: 34px;
}
.column-width35 {
    width: 35px;
}
.column-width17 {
    width: 17px;
}
.column-width401 {
    width: 401px;
}
.column-width100 {
    width: 100px !important;
}
.column-width200 {
    width: 200px !important;
}
.column-id {
    min-width:30px;
    text-align:center;
}
